.title {
    color: whitesmoke;
    background-color: midnightblue;
    font-size: 44px;
    font-weight: 700;
    text-align: auto;
    font-family: "Lucida Sans", sans-serif;
    margin: 16px;
    width: auto;
    align-items: auto;
    padding: 8px;

}
.break{
    background-color: peru;
    color: peru;
    font-size: 40px;
    margin: 10px 24px;
    width: auto;
    border-radius:10px;
}
.list{
    color: black;
    font-size: 24px;
    font-family: "Lucida Handwriting", sans-serif;
    width: 300px;
}
* {
    
    width: 450px;
    text-align: center;
    margin: auto;
}
.background {
    background-color: palegreen;
    width: 500px;
    padding-bottom: 16px;
    display: block;
    padding-top: 1px;
    margin-top: 8px;
}
